/* Estilos gerais */
body {
  background-image: url('./assets/background.png');
  background-repeat: no-repeat;
  background-size: cover; /* Faz a imagem cobrir todo o espaço disponível */
  background-position: center;
  background-attachment: fixed; /* Fixa o fundo */
  font-family: 'Arial', sans-serif;
  margin: 0;
  color: #333; /* Texto em cinza escuro */
}

h1 {
  text-align: center;
  font-size: 2rem;
  color: #222;
  margin-bottom: 20px;
}

button {
  background-color: #80d8e5 !important;
  color: rgb(56, 56, 56) !important;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 0.9rem;
}

button:hover {
  background-color: #43b8b2 !important;
}

.red-hover:hover {
  background-color: #ca0000 !important;
  color: #fff !important;
}

input {
  margin-bottom: 8px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 95%;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.space-between {
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}

.gap-20 {
  gap: 20px;
}

.mgt-20 {
  margin-top: 20px;
}

.mgb-16 {
  margin-bottom: 16px !important;
}

/* Trash button */
#trash-icon {
  width: 40px;
  height: 40px;
  background-image: url('./assets/trash.jpg');
  background-size: cover;
  cursor: pointer;
}

/* X button */
#x-icon {
  width: 40px;
  height: 40px;
  background-image: url('./assets/x.png');
  background-size: cover;
  cursor: pointer;
}