<!-- navbar -->
<div class="navbar">
  <strong>Kanban Board</strong>
</div>

<div class="kanban-board">
  <!-- Formulário para adicionar coluna -->
    <div class="add-column-form flex-column">
      <input #columnTitle id="columnTitle" type="text" placeholder="New column name" />
      <div>
        <button (click)="addColumn(columnTitle.value)">Add Column</button>
      </div>
    </div>

  <div class="columns" cdkDropListGroup>
    <div
      *ngFor="let column of columns"
      class="column"
      cdkDropList
      [cdkDropListData]="column.cards"
      (cdkDropListDropped)="drop($event, column)"
    >
      <div id="column-title">
        <h3 (click)="enableColumnEdit(column)" *ngIf="!column.isEditing" class="pointer">
          {{ column.title }}
        </h3>
        
        <!-- Formulário para editar coluna -->
        <div *ngIf="column.isEditing" class="flex-column">
          <input [(ngModel)]="column.title"/>
          <div class="flex space-between mgt-20">
            <button (click)="cancelColumnEdit(column)">Cancel</button>
            <button (click)="saveColumnChanges(column)">Save</button>
          </div>
        </div>

        <!-- Menu dropdown -->
        <div class="dropdown">
          <span class="dropbtn">...</span>
          <div class="dropdown-content">
            <a href="#" (click)="addCardForm(column)">Add Card</a>
            <a href="#" (click)="deleteColumnConfirmation(column)">Delete Column</a>
          </div>
        </div>
      </div>

      <!-- Modal para adicionar card -->
      <div *ngIf="column.isAddingCard" class="modal-overlay" (click)="addCardForm(column)">
        <div class="modal-content" (click)="$event.stopPropagation()">
          <h2>Add Card</h2>
          <div class="flex-column gap-20">
            <div>
              <label for="title">Title: </label>
              <input
                #cardTitle
                type="text"
                placeholder="Card Title"
                [attr.aria-label]="'Card Title for ' + column.title"
                id="title"
              />
            </div>
            <div>
              <label for="description">Description:</label>
              <textarea
                #cardDescription
                type="text"
                placeholder="Card Description"
                [attr.aria-label]="'Card Description for ' + column.title"
                id="description"
                rows="4"
                cols="50"
                maxlength="5000"
              ></textarea> <!-- Se a tag for fechada na linha de baixo ela considera o espaço entre a abertura e o fechamento -->
            </div>
          </div>
          <div class="flex space-between mgt-20">
            <button (click)="addCardForm(column)">Cancel</button>
            <button (click)="addCard(column, cardTitle.value, cardDescription.value)">Add card</button> <!-- O ERRO ESTÁ AQUI -->
          </div>
        </div>
      </div>

      <!-- Modal para confirmar o delete da coluna -->
      <div *ngIf="column.confirmDeleteColumn" class="modal-overlay" (click)="deleteColumnConfirmation(column)">
        <div class="modal-content" (click)="$event.stopPropagation()">
          <h3 class="mgb-16">
            Are you sure you want to delete this column? This action cannot be undone and will delete all cards contained within it.
          </h3>
          <div class="flex space-between">
            <button (click)="deleteColumnConfirmation(column)">Cancel</button>
            <button (click)="deleteColumn(column)" class="red-hover">Delete</button>
          </div>
        </div>
      </div>

      <!-- Lista de cards dentro da coluna -->
      <ul class="cards">
        <li *ngFor="let card of column.cards" class="card pointer" (click)="openModal(card)" cdkDrag>
          <div class="card-title">
            <strong>{{ card.title }}</strong>
          </div>
        </li>
      </ul>
    </div>
  </div>
  
  <!-- Modal para exibir detalhes do card -->
  <div *ngIf="selectedCard" class="modal-overlay" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div *ngIf="!selectedCard.isEditing">
        <div class="flex-end">
          <div id="x-icon" (click)="closeModal()"></div>
        </div>
        <h2>{{ selectedCard.title }}</h2>
        <p>{{ selectedCard.description }}</p>

        <div class="flex space-between">
          <div id="trash-icon" (click)="deleteCard(selectedCard.id)" (click)="closeModal()"></div>
          <button (click)="enableCardEdit(selectedCard)">Edit</button>
        </div>
      </div>

      <!-- Exibe o formulário para editar o card-->
      <div *ngIf="selectedCard.isEditing">
        <h2>Edit Card</h2>
        <div class="flex-column gap-20">
          <div>
            <label for="title">Title: </label>
            <input id="title" [(ngModel)]="selectedCard.title" />
          </div>

          <div>
            <label for="description">Description:</label>
            <textarea
              id="description"
              [(ngModel)]="selectedCard.description"
              rows="4"
              cols="50"
              maxlength="5000"
            >
            </textarea>
          </div>
        </div>
        <div class="flex space-between mgt-20">
          <button (click)="cancelCardEdit(selectedCard)">Cancel</button>
          <button (click)="saveCardChanges(selectedCard)">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
